@page "/Auftraege/{Auftragsnummer:int}/Stornieren"
@inject NavigationManager navigationManager
@inject ISessionStorageService SessionStorage
@inherits AlertPageBase
@using Blazored.SessionStorage

@if (Input is not null)
{
    <div class="toolbar">
        <button type="button" class="btn btn-success btn-icon" @onclick="async () => await SaveAsync()">Save</button>
    </div>

    <EditForm Model="Input">
        <div class="form-group">
            <label>Type any text</label>
            <InputText @bind-Value="Input.Begründung" class="form-control" />
            <ValidationMessage For="() => Input.Begründung" />
        </div>
    </EditForm>

}