@page "/"
@inject ISessionStorageService SessionStorage
@using WebApplication1.Data
@using Blazored.SessionStorage
@inherits AlertPageBase

@foreach (var alert in ShowAlerts)
{
    <Alert AlertBox="alert" />
}

<a class="btn btn-primary" href="/Auftraege/10100/Stornieren">Click here</a>

<button class="btn btn-secondary" @onclick="ClearAsync">Clear SessionStorage</button>

@code { #nullable disable
            [CascadingParameter] public AppMitarbeiter Mitarbeiter { get; set; }
#nullable enable

            private async Task ClearAsync()
            {
                await SessionStorage.ClearAsync();
            }

            protected override async Task OnParametersSetAsync()
            {
                await SetAlerts();
            }

} 