@page "/"
@using WebApplication1.Data
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<a href="/Auftraege/10100/Stornieren">Click here</a>

@code {
#nullable disable
    [CascadingParameter] public AppMitarbeiter Mitarbeiter { get; set; }
#nullable enable
} 