@page "/Test3"
<h3>Test3</h3>

<p>Test 3 shows the issue with CascadingParameters when they are being used in a subcomponent of the site. OnParameterSetAsync get triggert when leaving the page for both the component and the page.</p>

<Test3Component />
